################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqlSaturday.USQL/.vs/SqlSaturday.USQL/v15/Server/sqlite3
/SqlSaturday.AzureMaps/.vs/SqlSaturday.AzureMaps/v15
/SqlSaturday.AzureMaps/.vs
