@{
    ViewData["Title"] = "Home Page";
}



<div>

    <textarea id="dataInput"></textarea>
    <br />
    <input type="button" id="processButton" value="Generar" />
</div>
<div id="map" class="map"></div>
